#headertext {
  font-family: "Roboto";
  font-weight: 900;
}

#headertextsubtitle {
  font-family: "Roboto Mono";
  font-weight: 400;
}

#headertextsubsubtitle {
  font-family: "Oswald";
  font-weight: 200;
}

.cicacontainer {
  display: flex;
  height: 500px;
  justify-content: center;
}

.catimage {
  height: 400px;
}

.catname {
  display: flex;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 30px;
  height: 100px;
}

.catbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

#headercontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 220px;
}

#catpage {
  display: flex;
}
