@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("./fonts/RobotoMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("./fonts/Oswald-ExtraLight.ttf");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("./fonts/Nunito-SemiBold.ttf");
}
